<li>
	<span>
		<div class="control-group control-inline">
		  	<div class="controls">
			    <label class="control-radio">
			    	<input type="radio" name="questao1" />
			      	V
			    </label>
			    <label class="control-radio">
			    	<input type="radio" name="questao1" />
			    	F
			    </label>
			</div>
			<div class="control-label" style="margin: 5px 20px">
			    <label for="UNIQUE_ID">Enunciado</label>
			</div>
			<div class="controls" style="margin-top:5px">
			    <input placeholder="Enunciado da proposição" type="text" style="width: 356px" />
			</div>
		</div>
	</span>
</li>
<li>
	<span>
		<div class="control-group control-inline">
		  	<div class="controls">
			    <label class="control-radio">
			    	<input type="radio" name="questao1" />
			      	V
			    </label>
			    <label class="control-radio">
			    	<input type="radio" name="questao1" />
			    	F
			    </label>
			</div>
			<div class="control-label" style="margin: 5px 20px">
			    <label for="UNIQUE_ID">Enunciado</label>
			</div>
			<div class="controls" style="margin-top:5px">
			    <input placeholder="Enunciado da proposição" type="text" style="width: 356px" />
			</div>
		</div>
	</span>
</li>