<% content_for :header do %>
  <%= render "shared/professor_header" %>
<% end %>

<div id="form_steps">
	testando para ver se pega
</div>

<fieldset id="form_container">
	<%= render 'form' %>
</fieldset>
<input type="submit" value="Próximo" class="button-default next-button submit-button" />