<span class="tempo_prova">
	<span class="tempo_total">
		<strong>Tempo total disponível:</strong>
		<%= @prova.duracao %> mim
	</span>
</span>
<span class="data_prova">
	<strong>Data início:</strong> <%= @prova.disponivel_inicio.strftime('%d/%m/%Y %H:%M') %><br />
	<strong>Data fim:</strong> <%= @prova.disponivel_fim.strftime('%d/%m/%Y %H:%M') %>
</span>