<% content_for :header do %>
  <%= render "shared/professor_header" %>
<% end %>

<fieldset>
	<legend>Error</legend>
	<div class="message-block message-warning" style="width: 100%">
	    <div class="message-block-content">
	        Você não tem permissão para visualizar essa página.
	    </div>
	</div>
</fieldset>
