<% content_for :header do %>
  <%= render "shared/header" %>
<% end %>

<div class="message-block message-warning" style="width: 677px">
    <div class="message-block-content">
        Você precisa estar em um dos canvas disponíveis para acessar a aplicação.
    </div>
</div>