/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
*/

body {
	padding: 10px;
}

fieldset {
	border-width: 2px 0px 0px 0px;
	border-color: rgb(255,255,255);
	padding: 10px 0px 0px 0px;
}

fieldset legend {
	font-size: 18px;
	color: Gray;
}

footer {
	clear: both;
	margin-top: 50px;
	text-align: center;
}

header {
	margin-top: 20px;
}

header .logo a {
	width: 250px;
	height: 45px;
}

header .menu {
	width: 450px;
	float: right;
}

header .menu a {
	width: 120px;
	margin-right: 50px;
}

#container {
	width: 720px;
}


#welcome {
	clear: both;
	width: 200px;
	float: right;
	text-align: right;
	margin: 35px 0px 20px 0px;
}

#welcome_text {
	font-size: 25px;
}

/* GRID FILTER CSS */

.grid_filter_container {
	width: 710px;
	border-width: 2px;
	margin-bottom: 30px;
}

#grid_filter {
	width: 100%;
	height: 50px;
}

#grid_filter form {
	margin-top: 15px;
	margin-left: 20px;
}

#grid_filter form input {
	margin-left: 20px;
}

#grid_filter {
	font-size: 15px;
	font-weight: bold;
}