<span class="logo">
	<%= link_to  "Questões V ou F - Estudante", index_estudantes_path(params[:estudante_id], { :disciplina => params[:disciplina] }), :class => "logo_estudante" %>
</span>
<nav class="menu"></nav>