<span class="logo">
	<a class="logo_professor" title="Questões V ou F - Professor" href="#">Questões V ou F - Professor</a>
</span>
<nav class="menu">
	<%= link_to 'Nova Prova', :new_prova, :class => "button-success button-big" %>
	<%= link_to 'Relatórios', :relatorios, :class => "button-default button-big" %>
</nav>