<span class="logo">
	<a href="#">Questões V ou F - Professor</a>
</span>
<nav class="menu">
	<a href="#" class="button-success button-big">Nova Prova</a>
	<a href="#" class="button-default button-big">Relatórios</a>
</nav>