// Place all the styles related to the prova controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* DATE PICKER */
.table-condensed {
	width: auto!important;
}

.table-condensed .next:hover, .table-condensed .prev:hover {
	background-color: rgb(230, 230, 230)!important;
}

.datepicker {
	right: auto!important;
	border: none!important;
}

.icon-arrow-left {
	display: block;
	background: url('/assets/arrow_left.png') 0 0 no-repeat;

	width: 20px;
	height: 20px;
}

.icon-arrow-right {
	display: block;
	background: url('/assets/arrow_right.png') 0 0 no-repeat;

	width: 20px;
	height: 20px;
}
/* END DATE PICKER */


/* CADASTRO NAV */
#form_steps {
	margin: 35px 0px 20px 0px;

	float: left;
	width: 520px;
	height: 50px;
}

#form_steps nav {
	background: url('/assets/passoapasso.png') top no-repeat;
	width: 506px;
	height: 22px;
}

#form_steps nav #steps_titles a {
	color: Gray;
}

#form_steps nav ul {
	margin-left: 20px;
	height: 15px;
}

#form_steps nav ul li {
	float: left;
}

#form_steps nav ul .navMeio {
	margin: 0px 168px 0px 176px;
}
/* CADASTRO NAV END */

#form_container {
	width: 99%;
	height: 350px;
	padding: 20px 0px;
	border-width: 1px;
}

#form_container form {
	margin-left: 50px;
}

#nav_buttons {
	float: right;
	margin: 10px 0px;
}

#nav_buttons a, input {
	width: 80px;
}

.submit-button, .prev-button {
	display: none;
}

#passo2, #passo3 {
	display: none;
}

#passo3 {
	width: 663px;
	height: 350px;

	overflow-y: auto;
}

#passo3 span, #passo3 label {
	color: Gray;
	font-size: 14px;
}

.questoes {
	height: 315px;
	overflow-y: auto;
}

.questoes .titulo_questao {
	margin-left: -20px;
}

.remove_icon {
	position: relative;
	float: left;
	width: 20px;
	height: 20px;

	cursor: hand;
	cursor: pointer;

	display: block;
	background: url('/assets/icon_remove.png') top no-repeat;
}

.remove_questao {
	top: 2px;
	left: 65px;
}

.remove_proposicao {
	top: 13px;
	left: 5px;
}

.required {
	color: red;
	font-size: 18px;
	font-weight: bold;
	cursor: default;
}

/* FAZER PROVA */
.tempo_prova {
	float:left;
	margin-left: 10px;
	width: 300px;
}

.data_prova {
	text-align: right;
	float: right;
	margin-right: 10px;
}

.prova_container {
	width: 665px;
	height: 400px;
	border-width: 1px;
	padding: 10px;
}

.questao .questao_enunciado {
	text-align: justify;
	display: block;
	height: 55px;
	overflow-y:auto;
}

.questao {
	display: none;
}

.questao_count hr {
	width: 655px;
	float: left;
	margin-right: 10px;
}

#questao1 {
	display: block;
}

.proposicoes {
	height: 269px;
	overflow-y: auto;
}

.proposicoes label {
	padding-top: 0px!important;
}

.header_proposicoes {
	margin-top: 10px;
}

.header_proposicoes span {
	margin-right: 25px;
	margin-left: 3px;
}

.prev-button-prova {
	display: none;
}

.submit-button-prova {
	float: right;
	margin-right: 7px;
}
/* END FAZER PROVA */

/* PRE_DO PROVA */
.pre_do_form input {
	width: 150px;
	height: 60px;

	font-size: 26px;
	margin: 160px 270px;
}
/* END PRE_DO PROVA */

/* SHOW PROVA */
.nota_prova {
	color: #FF7C35;
	float: right;
	margin-bottom: 20px;
	font-size: 20px;
	margin-right: 5px;
}
.comentarios {
	margin-left: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.comentarios_header {
	font-size: 22px;
	margin-top: 40px;
	margin-bottom: 10px;
	text-align: center;
}

.novo_comentario {
	margin: 20px 0px;
}

.novo_comentario textarea {
	width: 634px;
	height: 75px;
	max-height: 75px;
}

.novo_comentario input {
	margin: 5px 0px;
	float: right;
	height: 25px;
	padding-top: 3px;
}
/* END SHOW PROVA */